/* Structure */
.main-question-card {
  max-width: 700px;
  margin: 0 auto;
  min-height: 300px;
  margin-bottom: 10px;
}
.main-answer-card {
  max-width: 700px;
  margin: 0 auto;
  min-height: 100px;
  padding: 10px;
  margin-bottom: 100px;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

#navigationNextQuestion {
  position: fixed;
  bottom: 55px;
  z-index: 1001;
  left: 50%;
  transform: translateX(-50%);
}

#favoriteBtn{
  position: absolute;
  right: 10px;
  top: 10px;
  color: rebeccapurple;
}