<div class="message-wrapper">
  <h1 class="title">Password reset</h1>
  <p *ngIf="message" class="error-message">{{ message }}</p>
</div>
<form
  [formGroup]="forgottenForm"
  (ngSubmit)="onSubmit()"
  class="form-container form"
>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" placeholder="Enter your email" />
    <mat-error *ngIf="forgottenForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="forgottenForm.get('email')?.hasError('email')">
      Enter a valid email
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!forgottenForm.valid"
  >
    Request password reset
  </button>
</form>
<mat-divider style="margin: 20px 0"></mat-divider>
<div class="navigation-btn-wrapper">
  <button mat-button (click)="navigateToLogin()" class="full-width">
    Remembered password, login instead?
  </button>
</div>
